{%- stylesheet -%}
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title a {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }
{%- endstylesheet -%}

<article class="py-3">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'auther_title' -%}
        <div class="flex justify-center items-center">
          <div class="max-w-7xl text-center">
            <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900">{{ blog.title }}</a>
            <h1 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h1>
          </div>
        </div>

      {%- when 'author_name' -%}
        <div class="flex justify-center italic">
          <div class="max-w-7xl text-center">
            {%- if section.settings.enable_author -%}
              <p>{{ article.author }}</p>
            {%- endif -%}
          </div>
        </div>

      {%- when 'article_publish_date' -%}
        <div class="flex justify-center items-center">
          <div class="max-w-7xl text-center">
            {%- if section.settings.enable_published_date -%}
              <time datetime="{{ article.published_at | date: '%Y-%m-%d'}}">
                {{- article.published_at | date: format: 'date' -}}
              </time>
            {%- endif -%}
          </div>
        </div>

      {%- when 'featured_image' -%}
        <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden flex justify-center items-center">
          {%- if article.image != blank -%}
            <img src="{{ article.image | image_url: height:200, width:200 }}"  alt="image" width="" height="200">
            {%- else -%}
              {%- assign placehoder_image = 'lifestyle-2' -%}
              {{ placehoder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
          {%- endif -%}
        </div>
        
      {%- when 'aritcle_content' -%}
        <div class="flex justify-center items-center">
          <div class="max-w-7xl">
           <p>{{ article.content }}</p>
          </div>
        </div>
        
      {%- else -%}
    {%- endcase -%}
  {%- endfor -%}
</article>

{%- if blog.comments_enabled? -%}
  
{%- else -%}
  <p>No comment is available</p>
{%- endif -%}

{% schema %}
{
  "name": "main-article-my",
  "tag": "section",
  "class": "main-article-my",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Show Author Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "label": "Enable Published Date",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "auther_title",
      "settings": [],
      "limit": 1
    },
    {
      "name": "Author name",
      "type": "author_name",
      "settings": [],
      "limit": 1
    },
    {
      "name": "Article Publish Date",
      "type": "article_publish_date",
      "limit": 1
    },
    {
      "name": "Thumbnail",
      "type": "featured_image",
      "limit": 1
    },
    {
      "name": "Article Content",
      "type": "aritcle_content",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Main Article My",
      "settings": {}
    }
  ]
}
{% endschema %}
