{%- if cart.item_count > 0 -%}
  <div class="p-4">
    <div class="max-w-6xl flex flex-col my-10 mx-auto">
      <div class="flex items-end justify-between my-5">
        <h1 class="text-3xl">Your Cart</h1>
        <a
          href="{{ routes.all_products_collection_url }}"
          class="border border-blue-600 text-white bg-blue-600 px-8 py-3"
          >Continue Shopping</a
        >
      </div>
    </div>
    <div class="max-w6xl flex flex-col my-10 mx-auto">
      <form action="{{ routes.cart_url }}" method="post" novalidate>
        <table class="table-auto divided-y divided-blue-200 my-4 w-full">
          <thead>
            <th class="px-6 py-3 text-left text-sm font-medium text-black-500">Product</th>
            <th class="px-6 py-3 text-left text-sm font-medium text-black-500">Quantity</th>
            <th class="px-6 py-3 text-left text-sm font-medium text-black-500">Total Price</th>
          </thead>
          <tbody>
            {%- for item in cart.items -%}
              <tr>
                <td class="py-4 px-2 flex flex-col justify-center">
                  <a href="{{ item.url }}">
                    {%- if item.image -%}
                      <img
                        class="w-20 h-2 object-cover border"
                        src="{{ item.image | image_url }}"
                        alt="{{ item.title | escape }}"
                        width=""
                        height=""
                      >
                    {%- else -%}
                      {{ 'product-1' | placeholder_svg_tag: 'w-20 h-20 object-cover border' }}
                    {%- endif -%}
                  </a>
                </td>
                <td class="py-4 px-2 flex flex-col justify-center">
                  <a href="{{ item.url }}" class="my-1">{{ item.product.title }}</a>
                  <span class="text-sm text-gray-500 my-1">{{ item.variant.title }}</span>
                  <a
                    href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
                    class="text-sm font-medium text-red-500"
                    >Remove</a
                  >
                </td>
                <td class="py-4 px-2">
                  <input
                    type="number"
                    name="updates[]"
                    class="w-20 border p-2"
                    value="{{ item.quantity }}"
                    min="1"
                    id="udates_{{ forloop.index }}"
                  >
                </td>
                <td class="py-4 px-2">
                  {{ item.final_line_price | money }}
                </td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>
        <div class="flex flex-col item-center justify-center md:flex-row">
          <div class="w-full my-4">
            <div class="flex flex-col items-start">
              <label for="card_notes" class="my-1">Notes</label>
              <textarea
                name="note"
                id="card_notes"
                class="bg-gray-100 w-full md:max-w-lg resize-none border h-20"
              ></textarea>
            </div>
          </div>
          <div class="w-full my-4 md:w-80">
            <h3 class="text-xl">Subtotal:{{ cart.total_price | money }}</h3>
            <div class="my-2">
              <button
                type="submit"
                name="update"
                class="w-full p-3 border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white"
              >
                Update
              </button>
            </div>

            <div class="my-2">
              <button
                type="submit"
                name="checkout"
                class="w-full p-3 border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white"
              >
                Checkout
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{%- else -%}
  <div class="max-w-6xl h-60 my-4 mx-auto flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-3xl my-4">Your Cart is empty</h1>
      <div class="my-4 py-4">
        <a
          href="{{ routes.all_products_collection_url }}"
          class="border border-blue-600 text-white bg-blue-600 px-8 py-3"
          >Continue Shopping</a
        >
      </div>
    </div>
  </div>
{%- endif -%}
