<div class="py-8">
  {%- paginate blog.articles by section.settings['no-of-blog-post'] -%}
    <h1 class="text-3xl text-center">{{ blog.title }}</h1>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {%- for article in blog.articles -%}
          <div class="w-full py-6 px-3">
            <div class="bg-amber-200 shadow-xl rounded-lg overflow-hidden">
              {%- if article.image -%}
                <a href="{{ article.url }}">
                  <img
                    class="w-full h-80 object-cover"
                    src="{{ article.image | image_url: width:200, height:240 }}"
                    alt="{{ article.image.alt }}"
                    width=""
                    height=""
                  >
                </a>
              {%- else -%}
                <a href="{{ article.url }}">
                  {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-300' -}}
                </a>
              {%- endif -%}
              <div class="p-4">
                <h1 class="font-medium my-4 text-xl">{{ article.title }}</h1>
                {%- if article.excerpt.size > 0 -%}
                  <p>{{ article.excerpt | strip_html | truncatewords: 20 }}</p>
                {%- else -%}
                  <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
                {%- endif -%}
                <a href="{{ article.url }}" class="font-medium text-blue-600 hover:text-blue-800">Read more...</a>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>

    {% comment %} {{- paginate | default_pagination -}} {% endcomment %}
     <div class="max-w-6xl mx-auto">
           {% render 'my-pagination', pagination:paginate %}
     </div>

  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "blog",
  "tag": "section",
  "class": "blog",
  "settings": [
    {
      "type": "range",
      "id": "no-of-blog-post",
      "label": "Blog Post per Page",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "blog",
      "settings": {}
    }
  ]
}
{% endschema %}
