{% comment %}
  {%- liquid
    assign pro_list = section.settings.collection.products
    assign col = collections
  -%}
{% endcomment %}

<div class="page-width">
  {% comment %}
    <ul>
      {%- for pro in pro_list -%}
        <li>
          {{ pro.title }}
          {{ pro.price }}
          {{ pro.description }}
          {{ pro.featured_image | image_url: width: 400 | image_tag: alt: pro.title }}
        </li>
      {%- endfor -%}
    </ul>
  {% endcomment %}


  <ul>
    {%- for c in collections -%}
      <li>
        <h1>{{ c.title }}</h1>
        {{ c.all_products_count }}
        {{ c.all_tags }}
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Products List",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a Collection"
    }
  ],
  "presets": [
    {
      "name": "Products List",
      "category": "Custom",
      "settings": {}
    }
  ]
}
{% endschema %}
